{
	"main":{
		"env": "dev",
		"lms_log": "/var/log/lms",
		"tenant_script": "/lms/db/tenant.sql"
	},
	"db":{
		"master_role_pwd": "xxx"
	},
	"aws":{
		"access_key_id": "xxx",
		"access_key": "xxx",
		"s3_bucket": "my_static_bucket"
	},
	"tokens":{
		"tenant_private_key": "PKEYxxxxxxxxxxxxxxxxxxxxxx"
	}
}
